<form action="/links" method="post">

<label>Post Title:<br>
  <input type="text" name="title" placeholder="Title here">
</label>

<br>

<label>Enter the URL:<br>
  <input type="text" name="url" placeholder="URL here">
</label>

<br>

<button>Submit!!</button>
</form>
